{{#each bgrBreadcrumbs.instances as |instance|}}
  {{#-in-element instance.element}}
    <li class="{{instance.baseClassName}}__item">
      {{yield (concat instance.baseClassName "__link")}}
    </li>
  {{/-in-element}}
{{/each}}
