{{#each this.breadcrumbContainers as |container|}}
  {{#in-element container.element insertBefore=null}}
    <li class={{container.itemClass}} ...attributes>
      {{yield container.linkClass}}
    </li>
  {{/in-element}}
{{/each}}