{{#each breadcrumbsService.instances as |instance|}}
  {{#-in-element instance.element}}
    <li class={{instance.itemClassName}}>
      {{yield instance.linkClassName}}
    </li>
  {{/-in-element}}
{{/each}}
