{{#each breadcrumbsService.instances as |instance|}}
  {{#-in-element instance.element}}
    <li class={{instance.itemClass}}>
      {{yield instance.linkClass}}
    </li>
  {{/-in-element}}
{{/each}}
