Links:
<ul>
  <li>
    <LinkTo @route="foo">
      Foo
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="foo.bar">
      Bar
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="foo.bar.baz">
      Baz
    </LinkTo>
  </li>
</ul>

Breadcrumbs 1:
<BreadcrumbsContainer />

{{outlet}}