Links:
<ul>
  <li>
    {{link-to "Foo" "foo"}}
  </li>
  <li>
    {{link-to "Bar" "foo.bar"}}
  </li>
  <li>
    {{link-to "Baz" "foo.bar.baz"}}
  </li>
</ul>

Breadcrumbs 1:
<Breadcrumbs />

{{outlet}}
